.categories {
    width: 60%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categories-title {
    color: #BFBFBF;
    font-family: Inter;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 16px;
    text-align: center;
}

.categories-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem;
    justify-content: center;
}