.categories {
    margin-top: 7rem;
    text-align: center;
    justify-content: center;
}
.categories-title {
    color: #BFBFBF;
    font-family: Inter;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 24px;
    text-align: center;
}