.footer {
    background-color: #000000;
    /* height: 6rem; */
    display: flex;
}

.footer > div {
    margin: 0.875rem 2rem;
}

.footer h1 {
    color: #A1A1A1;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}