.hero {
    background-image: url("..\\assets\\hero-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 37rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .hero-header {
    color: #FFF;
    font-family: Inter;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 3.4rem;

}

.hero .hero-section {
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 4.3rem;
}